.highlight {
    box-shadow: #00000033 5px 8px 19px 0px;
}

.highlight>span.filename {
    border: 1px #3e405a solid;
}

.md-typeset code {
    border-radius: 5px;
    padding: 3px 10px;
    border: 1px #3e405a solid;
}

img {
    box-shadow: #00000033 5px 8px 19px 0px;
}

.html-doc {
    background: white;
    color: black;
    font-family: revert;
    padding: 10px;
}


.html-doc input {
    color: black;
    border: revert;
}

.html-doc img {
    box-shadow: unset;

}

.html-doc button {
    background: revert;
    border: revert;
    font-family: revert;
    font-size: revert;
    margin: revert;
    padding: revert;
}

.html-doc h1,
.html-doc h2,
.html-doc h3,
.html-doc h4,
.html-doc h5,
.html-doc h6 {
    color: black;
    font-family: revert;
    text-transform: none;
}

.html-doc p {
    color: black;
    font-family: revert;
    margin: revert;
    padding: revert;
}